/*================================================
    VARIABLES
  ================================================
*/
/*================================================
BASE STYLES
================================================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --alignment: center; }
  @media screen and (min-width: 46.875em) {
    :root {
      --alignment: left; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3; }

img {
  display: block;
  max-width: 100%; }

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: var(--alignment); }

.container {
  width: calc(min(110rem, 85vw));
  margin-inline: auto; }

.form__flex {
  display: flex;
  gap: 1rem; }
  .form__flex--file {
    flex-wrap: wrap;
    justify-content: space-between; }
    .form__flex--file > * {
      width: 100%; }
  .form__flex--access {
    flex-direction: column; }

.btn {
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
  font-family: inherit;
  font-weight: 700;
  padding: 1rem 2.5rem;
  background-color: #3065f8;
  color: #fff; }
  .btn__file {
    flex-grow: 1;
    flex-basis: 15rem; }
  .btn__access {
    max-width: 33rem; }
    @media screen and (min-width: 46.875em) {
      .btn__access {
        align-self: flex-start; } }
  .btn:hover {
    opacity: 0.8; }
  .btn:active {
    transform: scale(0.98); }

.input {
  font-family: inherit;
  padding: 1rem 2.5rem;
  border: 0;
  border-radius: 4px;
  outline: none; }
  .input__file {
    flex-basis: 20rem;
    flex-grow: 3;
    border: 1px solid #070439; }
  .input:invalid {
    border: 1px solid #ff4242; }

.margin__top--small {
  margin-top: 1rem; }

/*================================================
HEADER STYLES
================================================
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 3rem; }
  .header__logo {
    height: 3rem; }
  .header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw; }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .header a {
    color: #070439;
    text-decoration: none;
    font-weight: 500; }
  .header a:hover {
    opacity: 0.8; }

/*================================================
MAIN & ARTICLE STYLES
================================================
*/
article {
  padding-block: 8rem; }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5rem; }

.flex > * {
  width: 100%;
  flex-basis: 30rem;
  max-width: 50rem;
  flex-grow: 1; }

@media screen and (min-width: 46.875em) {
  .reverse {
    flex-direction: row-reverse; } }

.spacer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; }

.files {
  color: #070439; }

.file__text {
  text-align: var(--alignment); }

.productivity {
  background-color: #f6f6fe;
  color: #070439;
  position: relative; }

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); }

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px; }

.wave .shape-fill {
  fill: #ffffff; }

.cta {
  display: inline-flex;
  gap: 1rem;
  margin: 0 auto;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #3c9f8f;
  color: #3c9f8f;
  /* Move the link to the left */ }
  @media screen and (min-width: 46.875em) {
    .cta {
      margin: 0;
      margin-right: auto; } }
  .cta__link {
    color: currentColor;
    text-decoration: none; }
  .cta__img {
    width: 2rem; }

.testimonial {
  width: calc(min(90%, 32rem));
  margin-inline: auto;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 3rem;
  padding-top: 4rem;
  background-color: #fff;
  font-size: 1.3rem;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
  background-image: url(../images/icon-quotes.svg);
  background-position: top 2rem left 3rem;
  background-repeat: no-repeat; }
  @media screen and (min-width: 46.875em) {
    .testimonial {
      margin-inline: 0; } }
  .testimonial__flex {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem; }
  .testimonial__details {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .testimonial__img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%; }
  .testimonial__name {
    font-weight: 600; }
  .testimonial__title {
    font-size: 1rem; }

.access {
  background-color: #585989;
  color: #fff; }

/*================================================
FOOTER STYLES
================================================
*/
footer {
  background-color: #070439;
  color: #fff; }

.footer {
  padding-block: 8rem; }
  .footer__logo {
    height: 4rem;
    margin-bottom: 4rem; }
  .footer__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3rem; }
    .footer__flex--nav {
      flex-basis: 20rem;
      align-items: flex-start; }
  .footer__nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer__nav a {
      color: inherit;
      text-decoration: none;
      font-weight: 500; }
      .footer__nav a:hover {
        color: #3065f8; }
    .footer__nav li + li {
      margin-top: 1.5rem; }

.contact {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center; }
  .contact .icon {
    border: 0; }

.icon {
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.5rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  cursor: pointer; }
  .icon:hover {
    color: #3065f8;
    border-color: #3065f8; }

.socials .icon + .icon {
  margin-left: 1rem; }
